/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#A0D2EB;
    color: #333; /* Dark gray text for readability */
}

a {
    color: #0056b3; /* Medium blue for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #17252a;
    color: #fff; /* White text */
    padding: 10px 0;
    text-align: center;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top:0lvh;
    width: 99vw;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin-right:20px;
}

header nav ul li a {
    color: #fff; /* White text for nav links */
    font-weight: bold;
}

header .site-logo {
    height: 50px;
    width: auto;
    border-radius: 10px;

}

section {
    padding: 20px;
    margin: 20px;
    background-color:#A0D2EB;
    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}
#about-text{
    margin-left: 150px;
    margin-right: 150px;
}
#about-heading{
    text-align: center;
}
#about-name{
    text-align: center;
}
.about-section {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.about-content {
    display: flex;
    flex-direction: column;

}
.about-content .text-content {
    flex: 1;
    margin-bottom: 20px;
    text-align: center;
}

.about-content .image-content {
    flex: 0 0 auto;
    height: 300px;
    width: 300px;

}
.image-content{
    margin-right: 20px;
}

.about-content .profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #17252a; /* Blue border */
}

section#skills ul {
    list-style: none;
    padding: 0;
}

section#skills ul li {
    background-color: #17252a;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: #feffff; 
}

footer {
    background-color: #17252a; /* Dark blue background */
    color: #feffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: auto;

}

/* @media (min-width: 1151px) {
    .image-content{
    display: block;

    }
} */

@media(max-width:800px) {
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media(min-width:820px) {
    .about-section{
        margin-top: 100px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        width:100%;
    }
    
    header nav ul {
        margin: 0;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .about-content .text-content {
        margin-right: 20px;
        margin-bottom: 0;
    }

    .about-content .image-content {
        height: 400px;
        width: 400px;
    }
}

@media(min-width:430px) {
    .about-section{
        margin: top 900px;;
    }
}
@media (min-width: 1024px) {
    header .site-logo {
        height: 70px;
    }
    
    section {
        margin: 40px;
    }
}





